---
---
// @import "bootstrap/scss/bootstrap";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
@import '_syntax-highlighting';

/* ------------------------------
variables
--------------------------------- */
/* --------------------
colors
--------------------- */
$brand-primary: #2e79b7;
$brand-secondary: #62a3d8;
$page-bg: #fafafa;
$line: #eaeaea;

/* --------------------
others
--------------------- */
%lato { font-family: 'Lato', sans-serif; }


/* ------------------------------
styling
--------------------------------- */
body {
  @extend %lato;
  font-size: 16px;
  line-height: 22px;
  // padding-top: 51px;
  -webkit-font-smoothing: antialiased;
  background-color: $page-bg;
}

section, header, footer, main, article, nav, aside { position: relative; }

p {
  margin-bottom: 10px;
}

a {
  outline: none !important;
  text-decoration: none !important;
  transition: all 0.3s ease;
  color: $brand-primary;

  &:hover { color: $brand-secondary; }

  &.subtle {
    color: transparentize(#fff, 0.15);;

    &:hover { color: transparentize(#fff, 0.4); }
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  @extend %lato;
}

h1, h2, h3, h4, h5, h6 { @extend %lato; }
::selection {
  background: #086AFF;
  color: #fff;
}

nav.navbar {
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 16px;
  margin-top: 120px;
  text-align: center;
  transition: margin-top 0.2s linear;

  // Bootstrap 4 overwrite
  padding: 0;

  &.no-margin {
    margin-top: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-header {
    width: 100%;
    background: $brand-primary; /* Old browsers */
    background: -moz-linear-gradient(top, $brand-primary 0%, $brand-secondary 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $brand-primary 0%,$brand-secondary 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $brand-primary 0%,$brand-secondary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-primary', endColorstr='$brand-secondary',GradientType=0 ); /* IE6-9 */  float: none !important;
  }

  h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  p {
    color: transparentize(#fff, 0.15);
    letter-spacing: 0.5px;
    margin-bottom: 0;
  }

  ul.nav > li {
    margin-right: 5px;
    letter-spacing: 0.5px;
    line-height: 40px;

    a {
      padding: 0 10px 0 10px;
      transition: color 0.4s;

      &:hover, &:focus {
        background-color: transparent;
        color: transparentize($brand-primary, 0.4);
      }
    }
  
    .fa {
      width: 16px;
      margin-right: 5px;
    }
  }

  a {
    font-size: 16px;
  }

  .navbar-brand-logo {
    padding-top: 25px;
    text-align: center;

    img {
      margin: 0;
      padding: 0;
      width: 90px;
      border: 3px solid transparentize(#fff, 0.8);
      transform: scale(1);
      transition: transform .3s ease-in-out;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }

  .navbar-brand-box {
    margin: 20px 0;
    text-align: center;
  }

  .navbar-brand {
    color: #fff;
  }

  .navbar-toggle {
    color: #fff;
    border: none;
    border-radius: 0;

    .icon-bar {
      background-color: #fff;
    }
  }

  .navbar-brand-labels {
    margin-bottom: 25px;
  }

  /* center navigation */
  .navbar-nav {
    display: inline-block;
    // overwrite 
    > li {
      float: left;
    }
  }
  .navbar-collapse {
    background-color: #fff;
    border-bottom: 1px solid $line;
    line-height: initial;
  }

  .collapse {
    display: block;
  }

  /* Bootstrap 4 component overwrites */
  .badge {
    cursor: default;
    font-size: 16px;
    font-weight: 300;
    margin-right: 5px;
    padding:.3em .6em;

    &.badge-nav {
      background-color: transparentize(#fff, 0.80);
      transition: background-color 0.4s;
    }
    &:hover {
      background-color: transparentize(#fff, 0.70);
    }
  }
}

.title-group {
  // text-align: center;
  padding: 0 15px;
  margin: 30px 0 25px;

  p {
    max-width: 800px;
    margin-top: 25px;
  }
}

.container {
  max-width: 970px;
  margin-bottom: 30px;
}

h1.special {
  position: relative;
  overflow: hidden;
  margin: 0;
  @extend %lato;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: $brand-primary;
  text-align: center;

}

.tile {
  position: relative;
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  margin-bottom: 125px;

  .inner-guts { padding: 50px; }

  h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 100px;
  }

  .featurette {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    height: 550px;
    background-color: #e8e8e8;

    .img {
      background-size: cover;
      background-position: 50% 0;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 225ms ease;
      transform: scale(1);

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        background: #000;
        opacity: 0.4;
        transition: all 225ms ease;
      }
    }

    iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .img {
        transform: scale(1.2);

        &:before {
          opacity: 0.2;
        }
      }
    }
  }

  .excerpt {
    font-size: 35px;
    font-weight: 300;
    line-height: 49px;
    color: #484848;

    p {
      margin: 0;
    }
  }

  .tags {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 15px;

    span {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      text-transform: uppercase;
      @extend %lato;
    }
  }

  .read-more {
    margin-top: 50px;
    width: 100%;
    max-width: 175px;
    position: relative;
    padding-right: 75px;

    i {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-54%);
      font-size: 31px;
      line-height: 100%;
    }
  }
}

aside {
  font-size: 17px;
  color: #525252;
  margin: 16px 0;
  @extend %lato;

  span {
    text-transform: uppercase;
    margin: 0 5px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-top: 1px solid $line;

  p {
    margin-top: 5px;
    margin-bottom: 7px;
  }
}

.pagination-wrap {
  text-align: center;
}

.topper {
  height: 500px;
  position: relative;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

pre {
  margin: 75px -100px;
}


/* ------------------------------
media queries
--------------------------------- */
/* --------------------
max-width : 991px (medium)
--------------------- */
@media only screen and (max-width : 991px) {
  pre {
    margin-left: 0;
    margin-right: 0;
  }
}

/* --------------------
max-width : 480px (small)
--------------------- */
@media only screen and (max-width : 480px) {
  .tile .featurette, .topper {
    height: 300px;
  }

  h1.special,
  .tile h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .tile .inner-guts {
    padding: 15px 25px;
  }

  .tile .excerpt {
    font-size: 22px;
    line-height: 35px;
  }

  nav.navbar {
    margin-top: 20%;

  .navbar-brand-logo {
      // margin-top: 15px;

      &:hover img {
        transform: scale(1.1);
      }
    }

    .navbar-brand-labels {
      .badge:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .navigation-name {
    display: none;
  }

  .about-header-img {
    margin: 0 -15px;
  }
}
