{% include header.html %}
    
    {% include navigation.html %}

        <div class="title-group">
            <h1 class="special">
                <span>
                {% if page.title %}
                    {{ page.title }}
                {% endif %}
                </span>
            </h1>
        </div>

        <article>
            <div class="container">
                {{ content }}
            </div>
        </article>
    </div>

{% include footer.html %}
